<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademyDetail</title>
	<link rel ="stylesheet" href="/css/AcademyDetail.css">
</head>



<body>




    <div class="card_detail" data-id="id_s1">

        <div class="detail_in">
            <div class="up_left">
                <img src="/img_run_s/ma_s1.GIF">
            </div>

            <div class="up_right">
                <span>
                    <h3> 원데이 러닝 클래스 (서울) 평일반 11/27(목) 오후3시 /2500원 </h3>
													
                </span>
                <button type="submit" id="enroll_us" name="enroll">수강신청</button>
            </div>
        </div>

        <div class="detail_in">
            <div class="down_left">
                <div class="img_box">
                    <img src="/tr_photo/be.png">
                </div>
                <div class="text_box">
                    <p>
                    <h2>김금수 </h2>
                    </p>
                    <p>
                    <h3>휴먼달리고 코치 </h3>
                    </p>
                    <p>(전) 철인3종 국가대표 코치</p>
                    <p>전문스포츠지도사 1급(육상)</p>
                    <p>수원체육대학교 졸업(중장거리 전공)</p>

                    <p>육상선수 경력 12년</p>
                    <p>러닝지도 경력 10년</p>
                    <p>육상 국대 상비군 출신</p>

                    <p>2010-2011 나이세 러닝 코치</p>
                    <p>2015 나이세 1-MILE 스피드 트레이닝 코치</p>
                    <p>2016 MBC+ 서울아 운동하자 러닝코치</p>
                    <p>2019-2024 호카 헤드코치</p>
                    <p>2019-2025 휴먼달리고 러닝코치</p>
                </div>
            </div>

            <div class="down_right">
                <div class="text_pr">
                    <p>
                    <h1>SEOUL</h1>
                    </p>
                    <p>
                    <h1>RUNNING CLASS 11월</h1>
                    </p>

                    <p> 훈련시간 : 목요일 오후 7시 30분 ~9시 </p>
                    <p>훈련장소 : 반포종합운동장 | 잠원한강공원</p>
                    <p>제공사항 : 생수|에너지젤|주간 개인훈련 스케줄제공</p>
                    <p>러닝 포토|단톡방운영|굿즈샵30%할인</p>
                    <p>무료주차권 제공</p>
                </div>
            </div>
        </div>
    </div>  <!--card_detail-->


    
    <div class="card_detail" data-id="id_s2">

        <div class="detail_in">
            <div class="up_left">
                <img src="/img_run_s/ma_s2.GIF">
            </div>

            <div class="up_right">
                <span>
                    <h3> 단기 러닝 클래스 (수원) 평일반 11/27(목) 오후3시 /2500원 </h3>
                </span>
                <button type="submit" id="enroll_us" name="enroll">수강신청</button>
            </div>
        </div>

        <div class="detail_in">
            <div class="down_left">
                <div class="img_box">
                    <img src="/tr_photo/ma.png">
                </div>
                <div class="text_box">
                    <p>
                    <h2>박금수 </h2>
                    </p>
                    <p>
                    <h3>빌런달리고 코치 </h3>
                    </p>
                    <p>(전) 철인3종 국가대표 코치</p>
                    <p>전문스포츠지도사 1급(육상)</p>
                    <p>수원체육대학교 졸업(중장거리 전공)</p>

                    <p>육상선수 경력 12년</p>
                    <p>러닝지도 경력 10년</p>
                    <p>육상 국대 상비군 출신</p>

                    <p>2010-2011 나이세 러닝 코치</p>
                    <p>2015 나이세 1-MILE 스피드 트레이닝 코치</p>
                    <p>2016 MBC+ 서울아 운동하자 러닝코치</p>
                    <p>2019-2024 호카 헤드코치</p>
                    <p>2019-2025 휴먼달리고 러닝코치</p>
                </div>
            </div>

            <div class="down_right">
                <div class="text_pr">
                    <p>
                    <h1>SUWON</h1>
                    </p>
                    <p>
                    <h1>RUNNING CLASS 12월</h1>
                    </p>

                    <p> 훈련시간 : 목요일 오후 7시 30분 ~9시 </p>
                    <p>훈련장소 : 반포종합운동장 | 잠원한강공원</p>
                    <p>제공사항 : 생수|에너지젤|주간 개인훈련 스케줄제공</p>
                    <p>러닝 포토|단톡방운영|굿즈샵30%할인</p>
                    <p>무료주차권 제공</p>
                </div>
            </div>
        </div>
    </div>  <!--card_detail-->

</body>

</html>