<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.human.dalligo.dao.community.JYDetailDAO">
	<!-- 게시글 자세히 보기 -->
	<resultMap id="ResultDetail" type="com.human.dalligo.vo.community.JYDetailVO">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="nickName" column="nick_name"/>
		<result property="inDate" column="in_date"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="countLikes" column="count_likes"/>
		<result property="countComments" column="count_comments"/>	
	</resultMap>
	
	<!-- 게시글 자세히 보기에서 파일 List -->
	<resultMap id="ResultFile" type="com.human.dalligo.vo.community.JYFileVO">
	<id property="id" column="id"/>
    <result property="savedName" column="saved_name"/>
    <result property="originalName" column="original_name"/>
    <result property="postId" column="post_id"/>
	</resultMap>

	
	<select id="selectDetailById" parameterType="int" resultMap="ResultDetail">
		SELECT p.id, p.user_fk, u.user_id AS user_id, u.nick_name AS nick_name, p.in_date, p.title, p.content FROM post p JOIN user u ON p.user_fk = u.id
		WHERE p.id = #{id}
	</select>
	
	<delete id="deleteById" parameterType="int">
		DELETE FROM post where id = #{id}
	</delete>
	
	<select id="selectFilesById" parameterType="Integer" resultType="com.human.dalligo.vo.community.JYFileVO">
		SELECT id, post_id as postId, original_name as originalName, saved_name as savedName
		FROM post_files WHERE post_id = #{id}
	</select>
	
	<select id="selectNicknameByUserId" parameterType="int" resultType="String">
		SELECT nick_name as nickName FROM user WHERE id = #{userFk}
	</select>
	
	<update id="update" parameterType="com.human.dalligo.vo.community.JYPostVO">
		UPDATE post SET category = #{category}, title = #{title}, content = #{content}
		WHERE id = #{id}
	</update>
	
	<select id="selectFilesByPostId" parameterType="int" resultMap="ResultFile">
		SELECT * FROM post_files WHERE post_id = #{postId}
	</select>
	
	<delete id="deleteFilesByPostId" parameterType="int">
		DELETE FROM post_files WHERE post_id = #{postId}
	</delete>
</mapper>