<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.dalligo.dao.LshDistanceDAO">

    <select id="selectDistance" parameterType="map" resultType="com.human.dalligo.vo.LshDistanceVO">
        SELECT *
        FROM city_distance
        WHERE (start_city = #{startCity} AND end_city = #{endCity})
           or (start_city = #{endCity} AND end_city = #{startCity})
    </select>

</mapper>
