<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dalligo.dao.UserDAO">

    <!-- UserVO와 DB 컬럼 매핑 -->
    <resultMap id="DetailResult" type="com.human.dalligo.vo.UserVO">
        <id property="id" column="id" />
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="nickName" column="nick_name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>			
        <result property="isAdmin" column="is_admin"/>
    </resultMap>

    <!-- 회원가입 -->
    <insert id="insert" parameterType="com.human.dalligo.vo.UserVO" useGeneratedKeys="true" keyProperty="id">
        insert into user
        values (default, #{userId}, #{password}, #{name}, #{nickName}, #{address}, #{phone}, default)
    </insert>

    <!-- 로그인용: userId로 조회 -->
    <select id="getUserByUserId" parameterType="string" resultMap="DetailResult">
        SELECT * FROM user WHERE user_id = #{userId}       
    </select>

</mapper>