body {
	font-family: 'Segoe UI', Tahoma;
	margin: 0;
	background-color: #f4f7f9;
	padding: 100px;
}

#mainboard {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#main-back {
	margin-top: 25px;
	text-decoration: none;
	color: black;
}

#main-back:hover {
	transform: scale(1.05);
	cursor: pointer;
}

#main-title {
	padding-left: 37%;
	font-size: 50px;
	color: black;
}

#detail-container{
	width: 60%;
	margin: 0 auto;
}

.detail-box {
	margin-top: 5%;
	width: 100%;
	padding: 30px;
	margin: 40px auto;
	background-color: white;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-username {
	margin: 10px;
	font-size: 25px;
	font-weight: 500;
}

.list-date {
	margin-right: 20px;
	font-size: 20px;
}

.preview-img{
	width: 300px;
	height: auto;
}

.list-button {
	margin-right: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 99%;
}

.button-detail {
	margin: 5px;
	width: 75px;
	height: 50px;
	border: none;
	border-radius: 10px;
	background-color: #00acc1;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: white;
}

.button-detail:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.button-detail {
	margin: 5px;
	margin-right: 15px;
	width: 60px;
	height: 40px;
}

.list-title {
	margin-left: 10px;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 35px;
	font-weight: 700;
}

.list-content {
	margin: 10px;
	font-size: 20px;
	margin-bottom: 100px;
}

#file-box {
	margin-left: 10px;
	margin-top: 20px;
}

.reaction {
	display: flex;
	justify-content: flex-start;
	font-size: 20px;
	margin-bottom: 30px;
}

.likes {
	cursor: pointer;
}

.comment {
	margin-left: 30%;
	cursor: pointer;
}

.comment-box {
width: 100%;
margin: 40px auto;
background-color: white;
padding: 30px;
border-radius: 12px;
box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.comment-header {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	margin-bottom: 20px;
}

.comment-button {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.comment-date {
	margin-right: 10px;
}

.comment-username {
	font-size: 20px;
	font-weight: 600;
}

.comment-text {
	margin: 10px;
	font-size: 20px;
	margin-bottom: 20px;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

#insert-comment {
	border: 1px solid;
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 100%;
	height: 100px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	position: fixed;
	bottom: 0;
	left: 0;
	animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

#input-comment {
	width: 90%;
	height: 90%;
	border-radius: 10px;
	margin: 10px;
	font-size: 20px;
}

#insert-button {
	width: 90px;
	height: 90px;
	font-size: 30px;
	font-weight: 700;
	border: none;
	border-radius: 10px;
	background-color: #00acc1;
}

#insert-button:hover {
	transform: scale(1.02);
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}