body {
	font-family: 'Segoe UI', Tahoma;
	margin: 0;
	background-color: #f4f7f9;
	padding: 100px;
}

#mainboard {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 80px;
}

#main-back {
	margin-top: 25px;
}

#main-back:hover {
	transform: scale(1.05);
	cursor: pointer;
}

#main-title {
	padding-top: 15px;
	padding-left: 35%;
	font-size: 50px;
	color: rgb(0, 0, 0);
	font-weight: 700;
}

#posting-box {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
}

#select {
	width: 30%;
	height: 40px;
	font-size: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}

#title {
	height: 40px;
	margin-bottom: 20px;
	font-size: 20px;
	border-radius: 10px;
}

#content {
	height: 500px;
	font-size: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	resize: none;
}

#file-box {
	margin-bottom: 20px;
}

#upload-button {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
	padding-right: 19%;
}

.upload-button {
	width: 120px;
	height: 75px;
	border: none;
	border-radius: 15px;
	font-size: 25px;
	font-weight: 700;
	background-color: #00acc1;
	color: white;
}

.upload-button:hover {
	transform: scale(1.02);
	cursor: pointer;
}