body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 70px;
 }

 h2 {
     text-align: center;
     margin-bottom: 20px;
 }

 .mbtn {
     display: flex;
     justify-content: flex-end;
     gap: 10px;
     margin-bottom: 20px;
 }

 .mbtn button {
     padding: 8px 14px;
     font-size: 14px;
     border: 0.5px solid #bbb;
     border-radius: 6px;
     background: white;
     cursor: pointer;
 }

 .mbtn button:hover {
     background: #127e5d;
     color: white;
 }

 /* 탭 */
 .tab ul {
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
     border: 1px solid #ccc;
 }

 .tab li {
     padding: 10px 20px;
     border-right: 1px solid #ccc;
     cursor: pointer;
 }

 .tab li:last-child {
     border-right: none;
 }

 .tab li.on {
     font-weight: bold;
     color: #127e5d;
 }

 /* 카드 */
 .tab_content {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
     margin-top: 20px;
 }

 .tab_con_item {
     width: 200px;
     border: 1px solid #ccc;
     border-radius: 6px;
     overflow: hidden;
     background: #fff;
     display: flex;
     flex-direction: column;
 }

 .tab_con_item img {
     width: 200px;
	 height: 150px;
     object-fit: cover;
	 border-radius: 10px;
	 display: block;
 }

 .card_info {
     display: flex;
     flex-direction: column;
     padding: 10px;
     font-size: 12px;
 }

 /* 모달 */
 .modal {
     display: none; /* 기본 숨김 */
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.5);
     justify-content: center;
     align-items: center;
     z-index: 1000;
 }

 .modal-content {
     background: #fff;
     padding: 20px;
     border-radius: 8px;
     width: 300px;
     max-width: 90%;
 }

 .close {
     float: right;
     font-size: 24px;
     cursor: pointer;
 }
 
 #rloginModal .modal-content {
     width: 300px;
     margin: 50px auto;
     padding: 20px;
     border-radius: 10px;
     background: #fff;
 }

 .login-form {
     display: flex;
     flex-direction: column;
     gap: 10px; /* 입력창 간격 */
 }

 .login-form input {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 6px;
     font-size: 14px;
 }

 .login-form button {
     margin-top: 10px;
     padding: 10px;
     border: none;
     background: #4a6cf7;
     color: white;
     font-size: 15px;
     border-radius: 6px;
     cursor: pointer;
 }

 .login-form button:hover {
     background: #3c59d6;
 }

 
 