html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    padding: 120px;
    box-sizing: border-box;
}

    .container {

            display: flex;
            align-items: center;
            width: 350px;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 20px;
            position: relative;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }



    .text {
        width: 290px;
        height: 40px;
        font-size: 14px;
        border: 0;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(130, 231, 238);
        margin-bottom: 15px;
    }

    .shortText {
        width: 110px;
        height: 40px;
        font-size: 14px;
        border: 0;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(130, 231, 238);
         margin-bottom: 15px;
    }

    .short-right {
        width: 160px;
        height: 40px;
        font-size: 14px;
        border: 0;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(130, 231, 238);
         margin-bottom: 15px;
    }
    .post-right {
        width: 170px;
        height: 40px;
        font-size: 14px;
        border: 0;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(130, 231, 238);
         margin-bottom: 15px;
    }

    .expert-register {
        width: 300px;
        /* 폼 가로 크기 */
        margin: 0 auto;
        /* ← 화면 가운데 정렬! */
        padding: 20px;

    }

    .table {
        width: 100%;
    }

    .career-box {

        width: 290px;
        height: 100px;
        font-size: 14px;
        border: 0;
        border-radius: 12px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(130, 231, 238);
        font-family: Arial;
    }

    .post {
        display: flex;
        gap: 10px;


    }

    .btn {
        width: 300px;
        margin-top: 10px;
        padding: 10px;
        font-size: 14px;
        background-color: #2196F3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0b7dda;
    }

     h2 {
            text-align: center;
        }
